@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobato', sans-serif;
}

.section1{
    max-width: 100%;
    height: 210px;
    background: #293f50;
    display: flex;
    justify-content: space-between;
    padding: 40px 190px 0 190px;
    
}

.sec1h1{
    font-weight: 100;
    font-size: 48px;
    color: #fff;
    cursor: pointer;
}

.sec1h1:hover{
    color: #648880;
}

.sec1span{
    font-size: 21px;
    font-weight: 600;
    color: #648880;
    display: block;
    text-align: right;
    margin-right: 12px;
    position: relative;
    top: 30px;
}

.sec1nav a{
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    text-align: right;
    position: relative;
    top: 50px;
}

.sec1nav a:hover{
    color: #648880;
}


/* SECTION 2 */

.section2{
    max-width: 100%;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
   padding: 44px 0 22px 0;
}

.sec2h1{
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 22px;
    color: #648880;
    text-align: center;
    justify-content: center;
}

.sec2p{
    font-size: 21px;
    margin: 0 0 22px;
    color: #888888;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
}

/* SECTION 3 */

.section3{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 90px;
    padding: 20px 65px;
}

.sec3text{
    width: 100%;
    max-width: 619px;
    flex-basis: 48%;
    margin-left: 115px;
}

.sec3photo{
    flex-basis: 10%;
    margin-left: 40px;
}

.sec3h1{
    font-size: 24px;
    font-weight: 300;
    color: #648880;
    padding: 10px 0;
}

.sec3span{
    font-size: 14px;
    color: #a9b2b9;
    padding: 10px 0;
}

.sec3p, .sec3p-3{
    font-size: 16px;
    margin: 0 0 22px;
    padding-top: 15px;
    color: #888888;
    display: block;
}

.sec3h2{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #a9b2b9;
}

.sec3p-2{
    font-size: 16px;
    margin: 0 0 22px;
    padding-top: 10px;
    color: #888888;
}

.sec3a{
    text-decoration: none;
    color: #648880;
    border-bottom: 0.5px solid #dad4d4;
}

.sec3a:hover{
    color: #9e9b9b;
}

.sec3photo{
    width: 40%;
    height: 290px;
    padding-right: 15px;
}

.sec3imgcont{
    width: 297px;
    height: 176px;
    border: 1px solid #dfe2e5;
    margin-top: 88px;
    border-radius: 5px;
    padding: 22px;
}

.sec3img{
    width: 130px;
    border-radius: 50%;
    margin-left: 65px;
    position: relative;
    bottom: 60px;
}

.sec3photo ul li{
    width: 297px;
    text-align: center;
    list-style: none;
    font-size: 16px;
    color: #648880;
    position: relative;
    bottom: 65px;
    cursor: pointer;
}

.sec3photo ul li:hover{
    color: #9e9b9b;
}


